body
{
	padding: 15px;
	padding-top: 0px;
}

.cautionstyle
{
  background-color: #ffffff;
  border-color: #ff0000;
  padding-right:15px;	
  padding-left:15px;
  margin-top:15px;
}
.note 
{font-family: "Arial", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 0cm;
        margin-right: 6pt;
        padding-top: 4pt;
        padding-bottom: 4pt;
        padding-left: 0px;
        padding-right: 0px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: 90%;
        height: auto;
        white-space: normal;
       }
.tip 
{font-family: "Arial", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 10pt;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 0cm;
        margin-right: 6pt;
        padding-top: 4pt;
        padding-bottom: 4pt;
        padding-left: 10px;
        padding-right: 10px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }      
       
.caution 
{font-family: "Arial", verdana, arial, helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10pt;
        color: #D80000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: normal;
        margin-top: 6pt;
        margin-bottom: 6pt;
        margin-left: 0cm;
        margin-right: 6pt;
        padding-top: 4pt;
        padding-bottom: 4pt;
        padding-left: 10px;
        padding-right: 10px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0cm;
        width: auto;
        height: auto;
        white-space: normal;
       }
.notestyle
{
  background-color: #EEEBD7;
  border-color: #000000;
  border-style: none;
  border-width: 0.3mm;
  padding-right:15px;
  padding-left:15px;
  margin-top:15px;
}


.tipstyle
{
  background-color: #E5ECDA;
  border-color: #FF8040;
  border-style: none;
  border-width: 0.3mm;  
	padding-right:15px;
  padding-left:15px;
  margin-top:15px;
}

.feedback
{font-family: "Arial", verdana, arial, helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 10pt;
	text-align: right;
	padding-right: 30px;
	padding-left: 5px;
	vertical-align:bottom;
	
}

a:visited
{
	color: #800080;
}

div.menubar {
	position: relative;
	background-color : #F5F3EA;
	border-width : 1px;
	border-style : solid;
	border-color : #DFDFDF;
	vertical-align : middle;
}

div.clickpopup {

	display: block;
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 75%;
	padding: 5px; 
	margin: 10px; 
	z-index: 100;
	color: #000000; 
	background: #FFFFFF;
   	font: 10px Verdana, sans-serif; 
   	text-align: center;
   	border-width : 3px;
	border-style : solid;
	border-color : #DFDFDF;
	
}

div.expandingblock
{
	position: static;
	background-color : #FFFFFF;
   	border-width : 3px;
	border-style : solid;
	border-color : #DFDFDF;
	padding: 5px; 
	margin: 10px; 
}